<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="notice">
      <h2 data-cy="noticeDetailsHeading"><span>Notice</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ notice.id }}</span>
        </dd>
        <dt><span>Title</span></dt>
        <dd>
          <span>{{ notice.title }}</span>
        </dd>
        <dt><span>Content</span></dt>
        <dd>
          <span>{{ notice.content }}</span>
        </dd>
        <dt><span>Image</span></dt>
        <dd>
          <div *ngIf="notice.image">
            <a (click)="openFile(notice.image, notice.imageContentType)">
              <img [src]="'data:' + notice.imageContentType + ';base64,' + notice.image" style="max-width: 100%" alt="notice image" />
            </a>
            {{ notice.imageContentType }}, {{ byteSize(notice.image) }}
          </div>
        </dd>
        <dt><span>Type</span></dt>
        <dd>
          <span>{{ notice.type }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/notice', notice.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
